.DS_Store
node_modules/
/dist/
.env
.env.*
packages/web/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
test/unit/coverage
test/e2e/reports
test-results
playwright-report-fullstack
selenium-debug.log


# test
test/test-report.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
